@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Oswald:wght@200..700&family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Oswald:wght@200..700&family=Sofia&family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 16px;
}


body {
    font-family: "oswald", serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    height: 100vh;
  }

/* HEADER */

section.upper-menu {
    display: flex;
    justify-content: space-between;
    padding: 3% 5%;
}
.date-time-temp {
    display: flex;
    justify-content: start;
    width: 30%;
    gap: 2%;
}

.socal-media {
    display: flex;
    justify-content: end;
    cursor: pointer;
    width: 30%;
    gap: 2%;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #393939;
    margin-left: 5%;
    margin-right: 5%;
   
}


.menu-bar2 {
    width: 17%;
} 

input[type=search] {
    height: 50px;
    background-color:#393939;
    border: 1px solid #393939;
    border-left-color: #FFFFFF4D;
    padding: 0 2%;
    
    
}


.menu-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
    
}

ul li {
    list-style: none;
    
  }
  
li {
    white-space: nowrap;
    padding: 3%;
  }
  
li a {
    text-decoration: none;
    color: #ffff;
  }

  .page-btn {
    display: flex;
    align-items: center;
  }

.underline {
    opacity: 0;
}

li:hover {
    background-color: #F65050;
}


hr:hover {
    opacity: 1;
}




/* MAIN CONTAINER 1 */

.main-container1 {
    display: grid;
    grid-template-areas: "hero1 hero1 hero2 hero3" "hero1 hero1 hero4 hero4";
    gap: 2rem;
    margin: 3rem 5rem;
    position: relative;

}

.hero1 {
    grid-area: hero1;
    background-image: url("./img/image1.png");
    min-height: 570px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.hero2 {
    grid-area: hero2;
    background-image: url("./img/image2.png");
    min-height: 278.7px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.hero3 {
    grid-area: hero3;
    background-image: url("./img/image3.png");
    min-height: 278.7px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.hero4 {
    grid-area: hero4;
    background-image: url("./img/image4.png");
    min-height: 278.7px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img {
    max-width: 100%;
    object-fit: cover;
}

/* BUTTON AND TEXT OF IMAGE 1 */

.bussiness-btn1 {
    position: absolute;
    background-color: #0088FF;
    border: 1px solid #0088FF;
    font-size: 0.75rem;
    font-family: sofia sans;
    font-weight: 400;
    color: #ffff;
    padding: 0.5%;
    display: block;
    top: 10%;
    left: 7%;
}


.hero1-innercontainer p{
    font-size: 0.75rem;
    font-family: sofia sans;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    
}

.hero1-innercontainer h2 {
    color: #FFFFFF;
    font-size: 2.25rem;
    font-family: Oswald;
}

.hero1-innercontainer {
    position: absolute;
    bottom: 8%;
    left: 4%;
    width: 35%;
}

/* BUTTON AND TEXT OF IMAGE 1 */

.bussiness-btn1 {
    position: absolute;
    background-color: #0088FF;
    border: 1px solid #0088FF;
    font-size: 0.75rem;
    font-family: sofia sans;
    font-weight: 400;
    color: #ffff;
    padding: 0.5%;
    display: block;
    top: 7%;
    left: 3%;
}


.innercontainer-1 p{
    font-size: 0.75rem;
    font-family: sofia sans;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    
}

.innercontainer-1 h2 {
    color: #FFFFFF;
    font-size: 2.25rem;
}

.innercontainer-1 {
    position: absolute;
    bottom: 10%;
    left: 3%;
    width: 35%;
}


/* BUTTON AND TEXT FOR IMAGE 2 */
.bussiness-btn2 {
    position: absolute;
    background-color: #997C00;
    border: 1px solid #997C00;
    font-size: 0.75rem;
    font-family: sofia sans;
    font-weight: 400;
    color: #ffff;
    padding: 0.5%;
    display: block;
    top: 8%;
    right: 43%;
}

.hero2-innercontainer p{
    font-size: 0.75rem;
    font-family: sofia;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;

}

.hero2-innercontainer h2 {
    color: #FFFFFF;
    font-size: 0.87rem;

}
.hero2-innercontainer {
    position: absolute;
    top: 33%;
    right: 32%;
    width: 15%;

}

/* BUTTON AND TEXT FOR IMAGE 3 */
.bussiness-btn3 {
    position: absolute;
    background-color: #0088FF;
    border: 1px solid #0088FF;
    font-size: 0.75rem;
    font-family: sofia sans;
    font-weight: 400;
    color: #ffff;
    padding: 0.5%;
    display: block;
    top: 8%;
    right: 17%;

} 

.hero3-innercontainer p {
    font-size: 0.75rem;
    font-family: sofia;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;

}

.hero3-innercontainer h2 {
    color: #FFFFFF;
    font-size: 0.87rem; 
}

.hero3-innercontainer {
    position: absolute;
    width: 15%;
    top: 33%;
    right: 6%;

}



/* BUTTON AND TEXT FOR IMAGE 4 */
.bussiness-btn4 {
    position: absolute;
    background-color: #49CFE8;
    border: 1px solid #49CFE8;
    font-size: 0.75rem;
    font-family: sofia sans;
    font-weight: 400;
    color: #ffff;
    padding: 0.5%;
    display: block;
    bottom: 36%;
    right: 42%;
}

.hero4-innercontainer p {
    font-size: 0.75rem;
    font-family: sofia sans;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;

}

.hero4-innercontainer h2 {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-family: Oswald;

}

.hero4-innercontainer {
    position: absolute;
    bottom: 4%;
    right: 23%;
    width: 23%;

}



/* MAIN CONTAINER 2 */

.main-container2 {
    display: grid;
    grid-template-areas: "box1 box1 box1 box1 box1 box2 box2";
    margin-left: 5%;
    margin-right: 5%;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-container2-box1 {
    grid-area: box1;
}


.main-container2-box2 {
    grid-area: box2;
}



.main-container2-headline1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container2-btn {
    display: flex;
    gap: 1rem;
    justify-content: end;
    align-items: center;
    flex-basis: 80%;
}

.main-container2-headline1> h2 {
    color: #F65050;
    font-size: 1.5rem;
    font-family: Oswald;
    font-weight: 500;
}



.btn1 {
    background-color: #FE4A51;
    border: 1px solid #FE4A51;
    font-size: 0.75rem;
    font-family: Oswald;
    font-weight: 400;
    color: #ffff;
    padding: 2px 10px;
    display: block;
    cursor: pointer;
}

.btn2 {
    background-color: #A56CBD;
    border: 1px solid #A56CBD;
    font-size: 0.75rem;
    font-family: Oswald;
    font-weight: 400;
    color: #ffff;
    padding: 2px 5px;
    display: block;
    cursor: pointer;
}

.btn3 {
    background-color: #2ECC71;
    border: 1px solid #2ECC71;
    font-size: 0.75rem;
    font-family: Oswald;
    font-weight: 400;
    color: #ffff;
    padding: 2px 5px;
    display: block;
    cursor: pointer;
}
.btn4 {
    background-color: #0088FF;
    border: 1px solid #0088FF;
    font-size: 0.75rem;
    font-family: Oswald;
    font-weight: 400;
    color: #ffff;
    padding: 2px 5px;
    display: block;
    cursor: pointer;
}

.btn5 {
    background-color: #997C00;
    border: 1px solid #997C00;
    font-size: 0.75rem;
    font-family: Oswald;
    font-weight: 400;
    color: #ffff;
    padding: 2px 5px;
    display: block;
    cursor: pointer;
}
.btn6 {
    background-color: #49CFE8;
    border: 1px solid #49CFE8;
    font-size: 0.75rem;
    font-family: Oswald;
    font-weight: 400;
    color: #ffff;
    padding: 2px 5px;
    display: block;
    cursor: pointer;
}
.btn7 {
    background-color: #0088FF;
    border: 1px solid #0088FF;
    font-size: 0.75rem;
    font-family: Oswald;
    font-weight: 400;
    color: #ffff;
    padding: 2px 5px;
    display: block;
    cursor: pointer;
}
.btn8 {
    background-color: #4C60F5;
    border: 1px solid #4C60F5;
    font-size: 0.75rem;
    font-family: Oswald;
    font-weight: 400;
    color: #ffff;
    padding: 2px 5px;
    display: block;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.img {
    max-width: 100%;
}

.main-container2-innerbox {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.conference-btn {
    background-color: #A56CBD;
    border: 1px solid #A56CBD;
    font-size: 0.75rem;
    font-family: sofia;
    font-weight: 400;
    color: #ffff;
    padding: 2px 5px 0 2px;
    display: block;
    position: absolute;
    top: 15%;
    left: 2%;
}

.mc-innerbox1-2>p {
    font-size: 0.5rem;
    font-family: Sofia Sans;
    font-weight: 400;
    color: #2D2D2D;
    padding-top: 2%;
}

.mc-innerbox1-2>h2 {
    font-size: 1.13rem;
    padding: 2% 0;
    font-weight: 500;
    font-family: Oswald;
    color: #393939;
}

.mc-innerbox1-2 {
    width: 80%;
}

.small-p{
    font-size: 0.8rem;
    font-weight: 400;
    font-family: sofia sans;
    color: hsl(0, 0%, 60%);
    line-height: 0.96rem;
   
}



.text-cont>p {
    font-size: 0.5rem;
    font-weight: 400;
    font-family: sofia sans;
}

.text-cont>h2 {
    font-size: 0.93rem;
    font-weight: 400;
    font-family: oswald;
    color: #2D2D2D;
}

.container3, .container4 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}


.main-container2-headline2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container2-headline2>h2 {
    font-size: 0.8rem;
    font-family: Oswald;
    font-weight: 500;
    cursor: pointer;
}

h2.red {
    color: #F65050;
}


footer{
    background-color:#FCF9F7 ;
    padding-top: 2%;
    padding-bottom: 2%;
}

footer>div {
    display: flex;
    justify-content: center;
}

/* MEDIA QUERY */

@media screen and (max-width : 481px) {

    nav {
        display: none;
    }

    .date-time-temp {
        display: none;
    }

    .socal-media {
        display: none;
    }

    .logo {
        width: 100%;
    }



    .main-container1 {
        grid-template-areas: "hero1 hero1" "hero2 hero3" "hero4 hero4";
        gap: 1px;
    }

    .hero1 {
        min-height: 446px;
    }

    .hero2 {
        min-height: 187.38px;
    }

    .hero3 {
        min-height: 187.38px;
    }

    .hero4 {
        min-height: 187.38px;
    }

    .main-container2-innerbox1 {
        display: none;
    }

    .main-container2-headline1 {
        display: none;
    }

    .main-container2 {
        grid-template-areas: "box1" "box2";
        width: 100%;
    }

    .main-container2-innerbox {
        grid-template-columns: 1fr;
    }



}